<!DOCTYPE html>
<html>
  <head>
    <title>BookLoanSystem</title>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="">
		  	<span class="glyphicon glyphicon-book"></span>도서 대출 시스템</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">

	        <li id='book_info'><a href="/books">전체 도서 목록</a></li>
	        <li id='book_info'><a href="/loan_histories">도서 대출 현황</a></li>
	        <li id='book_info'><a href="/users/edit">내 정보 수정</a></li>

	        <li><a href="/users/sign_out">
		        <span class="glyphicon glyphicon-log-out"></span>로그아웃</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
